body, 
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  display: flex;
  justify-content: center;
  align-items: center;
}


nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

img {
  background: url(../img/welcome.png) no-repeat center center/contain;
  width: 200px;
  height: 145px;
}